             <%- include ("adminheader.ejs") %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
               
              </div>
            </div>
           
          </div>
                        <h2 style="color: darkcyan;"> Change Your Password   </h2>
                        <font color="green" size="5" style="font-family: revert-layer ;"> <%- output %> </font>
                          <font color="red" size="5" style="font-family: revert-layer ;" > <%- output1 %> </font>
                        <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">              
                                              
                      <form method="post" action="cpadmin"  >
                      <div >
                        <label>Old Password :</label>
                        <input type="password" name="opass" class="form-control">
                      </div>

                      <div >
                        <label>New Password :</label>
                        <input type="password" name="npass" class="form-control">
                      </div>

                      <div >
                        <label>Confirm New Password :</label>
                        <input type="password" name="cnpass" class="form-control">
                      </div>
                      <button type="sumbit" class="btn btn-primary"> Change Password </button>                            
                      </form>
                                               
                      </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/chart.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
