 <%- include ("header.ejs") %>
    <!-- AddCategory Start -->

            <div class="col-md-12 grid-margin stretch-card" data-wow-delay="0.1s">
                <div class="card">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="section-header text-left">
<h2 class="card-title mb-0" style="color: #AA1945; font-size: 25px;" > Reset Password </h2>
 &nbsp;
<font color="green" size="5"><%- output %></font>



        <form method="post" action="resetpassword">

             
            <div class="form-group">
                  <label>Enter OTP </label>
                    <input style="width: 30%;" class="form-control form-control-lg" type="text" name="otp" required>
            </div>

            <div class="form-group">
                  <label>Your Email </label>
                    <input style="width: 30%;" class="form-control form-control-lg" readonly type="email" name="email" required value="<%- sunm %>">
            </div>

            <div class="form-group">
              <label>New Password :</label>
              <input style="width: 30%;" class="form-control form-control-lg" type="password" name="npass">
              <br><br>
            </div>

            <div class="form-group">
              <label>Confirm New Password :</label>
              <input style="width: 30%;" class="form-control form-control-lg" type="password" name="cnpass">
              <br><br>
            </div>

        <button type="sumbit"> Change Password </button>

      
        </form>>
                         



                 </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- AddCategory End -->
  <%- include ("footer.ejs") %>