 <%- include ("header.ejs") %>
    <!-- Reset Start -->

            <div class="col-md-12 grid-margin stretch-card" data-wow-delay="0.1s">
                <div class="card">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="section-header text-left">
<h2 class="card-title mb-0" style="color: #AA1945; font-size: 25px;" > Enter Your Verified Email </h2>
 &nbsp;
<font color="red" size="5"><%- output %></font>

  <form method="POST" action="forgotpassword">

    <div>
        <label>Your Verified Email </label>
            <input style="width: 30%;" class="form-control form-control-lg" type="email" name="email" required>
    </div>
          
                   
    <div class="full">
        <button type="submit">Submit</button>
    </div>

  </form>
      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reset End -->
  <%- include ("footer.ejs") %>