    <%- include ("header.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Confirmation Page</h1>
                </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Confirmation Start -->
    <div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Thank You </h2>
                <h1 class="display-4 text-uppercase" style="color: green;">Your Order has Been Placed Successfully </h1>
            </div>
            </div>
    </div>
    <!-- End -->
    

    <%- include ("footer.ejs") %>